{% extends "warehouse/base.html" %}
{% load static %}

{% block title %}Film Dictionary{% endblock %}

{% block content %}
<div class="shop-manager-layout-justify">
    <div class="project-justified-box pbox1">
        <div class="pbox1-content-container">
            <div class="page-content-box">
                <ul class="page-content-list">
                    <li><a class="content-link" href="{% url 'archive_home' %}">Home</a></li>
                    <li><a class="content-link" href="{% url 'roll_library' %}">Roll Library</a></li>
                </ul>
            </div>
            <div class="page-content-box">
                <div class="content-box-title">Archive Film Scans</div>
                <ul class="page-content-list tight-list">
                    <li><a class="content-link" href="{% url 'rollscan_add' %}">Log a Roll</a></li>
                    <li><a class="content-link" href="{% url 'rollscan_populate' %}">Populate a Roll</a></li>
                    <li><a class="content-link" href="{% url 'rollscan_edit' %}">Edit Film Scans</a></li>
                </ul>
            </div>
            <div class="page-content-box">
                <div class="content-box-title">Dictionaries</div>
                <ul class="page-content-list tight-list">
                    <li class="function-selected">
                        <a class="content-link" href="{% url 'film_dictionary' %}">Film Dictionary</a>
                        <span class="indicator-dot-green"></span>
                    </li>
                    <li ><a class="content-link" href="{% url 'artist_dictionary' %}">Artist Dictionary</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="project-justified-box pbox2">
        <div class="function-box tab-indicator-container-3">
            <a class="tab-indicator-link" href="{% url 'film_dictionary' %}"><div class="tab-indicator-select">Film Dictionary</div></a>
            <a class="tab-indicator-link" href="{% url 'film_dictionary_add' %}"><div class="tab-indicator">Log a New Film</div></a>
            <a class="tab-indicator-link" href="{% url 'film_dictionary_modify' %}"><div class="tab-indicator">Edit Film Types</div></a>
        </div>

        <div class="function-box">
            <div class="function-box-name">Logged Film Types</div>
            <div class="grid-display-container-4-3-2">
                {% for film in films %}
                    <a href="">
                        <div class="film-cover-group-grid">
                            {% if film.cover_image %}
                                <img src="{{ film.cover_image.url }}" class="film-cover" alt="{{ film.name }}">
                            {% else %}
                                <img src="{% static 'warehouse/images/placeholder.png' %}" class="film-cover" alt="Placeholder">
                            {% endif %}
                            <div class="film-cover-description">
                                <div class="film-cover-description-empty-header"></div>
                                <p>{{ film.film_name }}</p>
                                <p>Type: {{ film.film_type }}</p>
                                <p>ISO: {{ film.iso }}</p>
                                {% if film.description %}
                                    <p>{{ film.description }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="page-end"></div>
    </div>
</div>
{% endblock %}
